

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
    box-shadow: 15px 19px 55px 24px rgba(177, 177, 185, 0.164);
    border-radius: 20px;
    #sticky-user-infos {
        display: flex;
        z-index: 999;
        position: fixed;
        bottom: 0;
        right: 100px;
        padding: 20px 30px;
        background-color: #DB8876;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-weight: 600;
        flex-direction: row-reverse;
        span {
            margin-right: 10px;
        }
        i {
            padding-left: 5px;
            font-size: 0.7em;
        }
        
    }
  
    div {
        order: 1;
        h1 {
            margin-bottom: 10px;
            margin-right: 0;
            text-shadow: 2px 15px 14px rgba(65, 65, 66, 0.253);
        }
        h3 {
            color: $primary-color;
            margin-bottom: 15px;
            font-size: 1.3em;
            font-weight: 100;
            text-shadow:  2px 3px 4px rgba(65, 65, 66, 0.322);
        }
        p {
            font-size: 0.8em;
            color:  #525252;
            text-shadow:  2px 15px 14px rgba(65, 65, 66, 0.199);
        }
    }
    img {
        order: 3;
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 50%;
        opacity: 0.9;
        box-shadow: 15px 19px 55px 24px rgba(184, 184, 189, 0.445);
        background-color: rgba(211, 211, 211, 0.459);
        animation: puff-in-center  0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    }
}
#mediaContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    margin-bottom: 100px;
    justify-content: space-between;
    padding: 0 100px;
    column-gap: 30px;
    #sorter {
        display: flex;
        position: relative;
        flex-basis: 100%;
        
        p {
            font-weight: 400;
            margin-right: 10px;
        }
        ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 75px;
            top: -10px;
            padding: 5px;
            background-color: $primary-color;
            border-radius: 5px;
            cursor: pointer;
            z-index: 200;
            &:focus > li:nth-child(2){
                display: flex;
            }
            &:hover > li:nth-child(2) {
                display: flex;
            }
            &:focus  > li:nth-child(2) {
                display: flex;
            }
            
            li {
                display: flex;
                &:nth-child(2) {
                    display: none;
                }
                &:first-child{
                    &::after {
                        content: '>';
                        font-size: 25px;
                        color: white;
                    } 
                }
                a {
                display: flex;
                flex-basis: 100%;
                font-size: 14px;
                font-weight: 200;
                color: white;
                padding: 5px;
                text-decoration: none;
                
               
                }
                i {
                    margin-left: 10px;
                }
                
            }
   
            
        }
    }
    article {
        animation: slide-top 0.4s ease-out .7s  both;
        flex-basis: 30%;
        img, video {
            cursor: pointer;
            width: 100%;
            height: 500px;
            object-fit: cover;
            object-position: center;
            border-radius: 5px;
            box-shadow: 15px 19px 55px 24px rgba(108, 108, 110, 0.479);
        }
        div {
            display: flex;
            justify-content: space-between;
            color: $primary-color;
            padding: 5px 0;
            h3 {
                font-weight: 300;
                font-family: "DM sans";
            }
            span {
                i {
                    margin-left: 3px;
                    font-size: 0.7em;
                }
            }
        }
    }
}



