header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    max-width: 1900px;
    padding: 50px 30px;
    margin: 30px auto; 
    .logo {
        height: 50px;
        
    }
}
